# Private options and key bindings for edt/emt/edx/emx
# All keys '@a' to '@z' (lower case) can be bound.
# of X terminal (xterm, rxvt, etc)
# There are two string arguments %s %s, respectively 
#     - the current working directory
#     - the name of the file being edited
#
-cr red
@d xdiary &
@e DIR=%s; ROOTNAME=`echo %s |rev| cut -d"." -f 2- |rev`; emx $ROOTNAME.log &
@l DIR=%s; latex %s &
@p DIR=%s; xenscript %s &
@t DIR=%s; tex %s &
@v DIR=%s; ROOTNAME=`echo %s |rev| cut -d"." -f 2- |rev`; xdvi -s 6 $ROOTNAME.dvi &
@x DIR=%s; xrmap -rcfile %s &
@z cd %s; rxvt -font 8x13 -pr red -cr green -sl 500 -sr +st -geometry 80x30 &


